*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Arial,sans-serif;

}


body{

background:#f5f5f5;

}


/* NAVBAR */

nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:15px 40px;

background:white;

}


.logo{

font-size:30px;

font-weight:bold;

color:#6460ff;

}


ul{

display:flex;

list-style:none;

}


ul li{

position:relative;

margin-left:25px;

}


ul li a{

text-decoration:none;

color:black;

font-size:16px;

}


/* DROPDOWN */

.dropdown-content{

display:none;

position:absolute;

background:white;

min-width:170px;

box-shadow:0 0 10px rgba(0,0,0,0.2);

border-radius:5px;

}


.dropdown-content a{

display:block;

padding:12px;

}


.dropdown:hover .dropdown-content{

display:block;

}


/* HOME */

.hero{

height:90vh;

background:url("https://images.unsplash.com/photo-1518770660439-4636190af475")

center/cover no-repeat;

display:flex;

justify-content:center;

align-items:center;

}


.overlay{

text-align:center;

color:white;

}


.overlay h1{

font-size:50px;

margin-bottom:20px;

}


.overlay p{

font-size:18px;

}


.overlay button{

margin-top:25px;

padding:12px 30px;

border:none;

border-radius:25px;

background:#6460ff;

color:white;

font-size:16px;

cursor:pointer;

transition:0.3s;

}


.overlay button:hover{

background:#4b48ff;

}


/* ABOUT */

.about-bg{

height:90vh;

background:url("https://images.unsplash.com/photo-1518770660439-4636190af475")

center/cover no-repeat;

}


.about-overlay{

text-align:center;

padding-top:120px;

color:white;

}


.about-text{

margin-top:20px;

font-size:18px;

line-height:35px;

}


.cards{

display:flex;

justify-content:center;

gap:30px;

margin-top:50px;

}


.card{

background:white;

color:black;

padding:25px;

width:230px;

border-radius:12px;

transition:0.4s ease;

cursor:pointer;

}


.card:hover{

transform:scale(1.1);

box-shadow:0 10px 25px rgba(0,0,0,0.4);

}


/* CONTACT */

.contact{

width:40%;

margin:80px auto;

background:white;

padding:30px;

border-radius:10px;

box-shadow:0 0 10px rgba(0,0,0,0.2);

text-align:center;

}


.contact h2{

margin-bottom:20px;

}


input,

textarea{

width:100%;

padding:12px;

margin-top:15px;

border:1px solid #ccc;

border-radius:5px;

font-size:15px;

}


textarea{

resize:none;

height:120px;

}


button{

margin-top:20px;

padding:12px 25px;

background:#6460ff;

color:white;

border:none;

border-radius:5px;

font-size:15px;

cursor:pointer;

}


button:hover{

background:#4b48ff;

}


/* FOOTER */

footer{

background:#07132a;

color:white;

text-align:center;

padding:15px;

margin-top:50px;

}
textarea{

width:100%;

padding:12px;

margin-top:15px;

border:1px solid #ccc;

border-radius:5px;

font-size:15px;

height:120px;

resize:none;

}
