.dropdown{
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    top: 40px;
    left: 0;

    background: white;

    min-width: 180px;

    border-radius: 10px;

    box-shadow: 0 5px 15px rgba(0,0,0,0.2);

    overflow: hidden;

    z-index: 1000;
}

.dropdown-content li{
    list-style: none;
}

.dropdown-content li a{

    display: block;

    padding: 12px 15px;

    color: #000;

    text-decoration: none;

}

.dropdown-content li a:hover{

    background:#2563eb;

    color:white;

}

/* Hover panna mattum show aagum */

.dropdown:hover .dropdown-content{

    display:block;

}
}
