*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:#222;
}

.logo{
color:white;
font-size:28px;
font-weight:bold;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
position:relative;
}

nav ul li a{
color:white;
text-decoration:none;
padding:15px;
display:block;
}

.dropdown-content{

display:none;

position:absolute;

background:white;

min-width:170px;

box-shadow:0 0 10px gray;

}

.dropdown-content a{

color:black;

padding:12px;

display:block;

}

.dropdown:hover .dropdown-content{

display:block;

}

.hero{

height:90vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

background:#f4f4f4;

}

.hero h1{

font-size:50px;

margin-bottom:20px;

}

.hero p{

font-size:20px;

margin-bottom:20px;

}

.btn{

background:#007bff;

color:white;

padding:12px 25px;

text-decoration:none;

border-radius:5px;

}

.about,

.contact{

padding:70px;

text-align:center;

}

form{

width:350px;

margin:auto;

}

input,

textarea{

width:100%;

padding:12px;

margin:10px 0;

}

button{

padding:12px 25px;

background:#007bff;

color:white;

border:none;

cursor:pointer;

}
